@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+Display:500);


.center{
  max-width: 75%;
  margin: auto;
  font-family: inherit;
}

.container{
  display: flex;
}

.column{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 0;
  width: 33.3%;
}

img{
  display: flex;
  width: 100%;
}

body{
  background-color: #dcdcdc;
}

h1{
  font-family: "Noto Serif Display", serif;
  font-weight: 500;
}

p{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

