/* arima-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/arima-v1-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/arima-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/arima-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/arima-v1-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/arima-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/arima-v1-latin-700.svg#Arima') format('svg'); /* Legacy iOS */
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  color: rgb(27,31,31);
  background-color: rgb(247 151 61);
  font-family: "Arima", sans-serif;
}



body.noscroll{
  overflow: hidden;
}


.header-box{
  transition: 0.4s;
  background-color: rgb(247 151 61);
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0;
}
.header{
  height: 70px;
  margin: 0;
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
}

.header-box.open{
  height: 100%;
  touch-action: none;
}

.title{
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 21px;
  margin-bottom: 17px;
  margin-left: 20px;
  line-height: 1;
  font-size: 16px;
}
.header-box.open>.header>.title{
  bottom: 0;
}
.menu{
  display: none;
}
.menu.line{
  height: 70px;
  padding-left:15px;
  padding-top: 23px;
  font-size: 24px;
  line-height: 1;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}

.header-box.open>.menu{
  display: block;
}

img.logo{
  width: 70px;
  height: 70px;
}

.header>img.logo{
  position: absolute;
  top: 0;
  left: 100%;
  margin-left:-70px;
  transition: all 0.4s;
}
.header-box.open>.header>img.logo{
  left: 0;
  margin-left:0px;
}

.wallpaper{
  margin-top: 70px;
  width: 100%;
}

.greeting-box{
  min-height: 300px;
  background: rgb(27,31,31);
  background: linear-gradient(180deg, rgba(27,31,31,1) 0%, rgba(247,150,59,1) 100%);
}
.textbox{
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: rgb(247,150,59);
  background: rgb(27,31,31);
  width: 240px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 5px 20px 5px rgba(0,0,0,0.4);
}

.textbox.greeting{
  left: 0;
  right: 0;
  position: absolute;
  margin-top: -30px;
}

.large{
  font-size: 48px;
  margin-bottom: 5px;
}
.big{
  font-size: 24px;
  margin-bottom: 16px;
}

.picture-box{
  display: flex;
  flex-wrap: wrap;
}
.pictureframe{
  position: relative;
  flex: 1;
  flex-basis:33.3%;
  padding-bottom:33.3%;
}
.pictureframe>img{
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.bottom-box{
  text-align: center;
  padding-top: 150px;
  padding-bottom: 70px;
  min-height: 100vh;
  background: rgb(45,155,97);
  background: linear-gradient(180deg, rgba(45,155,97,1) 0%, rgba(150,106,171,1) 100%);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}


.textbox.bottom{
  border-bottom-right-radius: 0px;
}

.textbox.email{
  border-top-left-radius: 0px;
  line-height: 1;
  color: rgba(27,31,31);
  background-color: rgb(247 151 61);
  /*width: 180px;*/
  margin-bottom: 15px;
}

.small{
  font-size: 10px;
}

.bottom-logo{
  margin-top: 200px;
  margin-bottom: 10px;
}
