@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+Display:500);

html{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  padding-top: 50px;
}

.center{
  max-width: 75%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
}

.container{
  display: flex;
  margin-top: 30px;
}


.column{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  margin: 0;
  width: 33.3%;
}

.navbar{
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #dcdcdc;
  font-family: "Noto Serif Display", serif;
  font-weight: 500;
}

.navbar a{
  float: right;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #000000;
}

.navbar .left{
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #000000;
}

img{
  display: flex;
  width: 100%;
  transition: transform .2s;
  z-index:0;
}

img:hover{
  z-index:1;
  transform: scale(1.05);
}

body{
  background-color: #dcdcdc;
}

h1{
  font-family: "Noto Serif Display", serif;
  font-weight: 500;
  font-size: 50px
}

p{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

